absl-py==0.10.0
Adafruit-Blinka==8.45.0
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==3.1.0
adafruit-circuitpython-framebuf==1.6.5
adafruit-circuitpython-lis3dh==5.2.2
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==4.0.0
adafruit-circuitpython-rplidar==1.2.14
adafruit-circuitpython-ssd1306==2.12.17
adafruit-circuitpython-typing==1.10.1
Adafruit-GPIO==1.0.3
Adafruit-PCA9685==1.0.1
Adafruit-PlatformDetect==3.71.0
Adafruit-PureIO==1.1.5
Adafruit-SSD1306==1.6.2
asn1crypto==0.24.0
astor==0.8.1
astroid==2.1.0
asttokens==1.1.13
astunparse==1.6.3
beautifulsoup4==4.7.1
binho-host-adapter==0.1.6
blobconverter==1.3.0
boto3==1.33.13
botocore==1.33.13
cachetools==4.2.4
certifi==2018.8.24
chardet==3.0.4
click==8.1.7
cryptography==2.6.1
cupshelpers==1.0
cycler==0.10.0
dataclasses==0.6
decorator==4.3.0
depthai==2.26.0.0
docopt==0.6.2
docutils==0.14
-e git+https://github.com/autorope/donkeycar@022df76c69a7c72ab3cd041ad177a2f4a966c910#egg=donkeycar
entrypoints==0.3
Flask==2.2.5
future==1.0.0
gast==0.3.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.31.0
h5py==2.10.0
html5lib==1.0.1
idna==2.6
imageio==2.9.0
imageio-ffmpeg==0.4.2
imgaug==0.4.0
importlib-metadata==6.7.0
isort==4.3.4
itsdangerous==2.1.2
jedi==0.13.2
Jinja2==3.1.4
jmespath==1.0.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
logilab-common==1.4.2
lxml==4.3.2
Markdown==3.2.2
MarkupSafe==2.1.5
matplotlib==3.0.2
mccabe==0.6.1
moviepy==1.0.3
mypy==0.670
mypy-extensions==0.4.1
networkx==2.6.3
numexpr==2.6.9
numpy==1.19.1
oauthlib==3.2.2
olefile==0.46
opencv-python==4.4.0.42
opt-einsum==3.3.0
packaging==24.0
paho-mqtt==1.5.0
pandas==0.23.3+dfsg
parso==0.3.1
pexpect==4.6.0
picamera==1.13
Pillow==5.4.1
pkg_resources==0.0.0
prettytable==0.7.2
proglog==0.1.9
progress==1.6
protobuf==3.13.0
psutil==6.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pyfiglet==0.8.post1
pyftdi==0.54.0
pygame==2.5.2
Pygments==2.3.1
PyGObject==3.30.4
pylint==2.2.2
pynmea2==1.19.0
pyparsing==2.2.0
pyserial==3.4
pysmbc==1.0.15.6
python-apt==1.8.4.3
python-dateutil==2.7.3
pytz==2019.1
pyusb==1.2.1
PyWavelets==1.3.0
pyxdg==0.25
PyYAML==3.13
reportlab==3.5.13
requests==2.21.0
requests-oauthlib==2.0.0
roman==2.0.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.0
rsa==4.9
s3transfer==0.8.2
scikit-image==0.19.3
scipy==1.4.1
SecretStorage==2.3.1
Send2Trash==1.5.0
shapely==2.0.4
simple-pid==0.2.4
six==1.12.0
smbus==1.1.post2
soupsieve==1.8
spidev==3.5
ssh-import-id==5.7
sysv-ipc==1.1.0
tables==3.4.4
tensorboard==2.2.2
tensorboard-plugin-wit==1.8.1
tensorflow @ https://github.com/lhelontra/tensorflow-on-arm/releases/download/v2.2.0/tensorflow-2.2.0-cp37-none-linux_armv7l.whl
tensorflow-estimator==2.2.0
termcolor==1.1.0
thonny==3.3.10
tifffile==2021.11.2
torch @ file:///home/pi/projects/pytorch-armv7l-main/torch-1.7.0a0-cp37-cp37m-linux_armv7l.whl
torchvision @ file:///home/pi/projects/pytorch-armv7l-main/torchvision-0.8.0a0%2B45f960c-cp37-cp37m-linux_armv7l.whl
tornado==6.0.4
tqdm==4.48.2
typed-ast==1.3.1
typing_extensions==4.7.1
urllib3==1.26.19
utm==0.7.0
virtualenv==15.1.0
webencodings==0.5.1
Werkzeug==2.2.3
wrapt==1.12.1
zipp==3.1.0
